.home-container {
  width: 100%;
  height: 75vh;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  width: 80%;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 40px;
}


.button-container {
  display: flex;
  position: absolute;
  bottom: 30px;
  background-color: white;
  color: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-line {
  font-size: 32px;
  padding: 10px 60px;
  margin: 0;
  letter-spacing: 0.05em;
}

a {
  font-size: 16px;
  display: block;
  padding: 10px 30px;
}

.shop-now-button {
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  border: none;
  margin: 10px 20px;
}

.shop-now-button a {
  text-decoration: none;
  color: inherit;
}

.shop-now-button:hover {
  cursor: pointer;
}

.hero-image {
  height: 100%;
}
