.home-container {
  width: 90%;
  height: 100%;
  padding-top: 40px;
  justify-content: center;
}



.flex-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.hero-container, .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 1.5%;
}

.hero-image {
  width: 100%;
}

.hero-container-watches {
  width: 52.5%;
}

.hero-container-chrono {
  width: 35%;
}

.hero-container-wallet {
  width: 35%;
}


.hero-container-sunglasses {
  width: 52.5%;
}


.button-container {
  display: flex;
  position: absolute;
  bottom: 10%;
  background-color: white;
  color: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-line {
  font-size: 32px;
  padding: 0.5em 2em;
  margin: 0;
  letter-spacing: 0.05em;
}

a {
  font-size: 18px;
  display: block;
  padding: 0.75em 2em;
}

.shop-now-button {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  border: none;
  margin-bottom: 20px;
}

.shop-now-button a {
  text-decoration: none;
  color: inherit;
}

.shop-now-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1566px) {
  .tag-line {
    font-size: 26px;
  }

  a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1365px) {
  .tag-line {
    font-size: 20px;
    padding: 0.75em 3em;
  }

  a {
    font-size: 14px;
  }

  .hero-container {
    margin: 2.5%;
  }

  .hero-container-watches {
    width: 100%;
  }
  .hero-container-chrono {
    width: 45%;
  }
  .hero-container-wallet {
    width: 45%;
  }
  .hero-container-sunglasses {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .tag-line {
    font-size: 14px;
    padding: 0.5em 2em;
  }
  a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px ) {
  .tag-line {
    font-size: 14px;
    padding: 0.5em 1em;
  }

  a {
    padding: 0.5em 1em;
  }
}

@media only screen and (max-width: 414px) {
  .tag-line {
    font-size: 14px;
    padding: 0.5em 1em;
  }

  .hero-container-watches {
    width: 100%;
  }
  .hero-container-chrono {
    width: 100%;
  }
  .hero-container-wallet {
    width: 100%;
  }
  .hero-container-sunglasses {
    width: 100%;
  }
}
