.nav-bar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 100px;
  top: 0;
  z-index: 2;
}

.title a {
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.nav-list {
  width: 20%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 24px;
}

.cart-counter {
    display: flex;
    align-items: center;
}

.cart-button {
    background-color: white;
    border: none;
    font-size: 16px;
}


@media only screen and (max-width: 1366px) {
  .nav-list a {
    font-size: 20px;
  }

  .cart-button-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {

  .title a {
    font-size: 30px;
  }

  .nav-list a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {

  .nav-list a {
    display: none;
  }
}
