.product-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-details {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.product-product-name {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

.product-product-color {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
    margin: 5px 0px;
}

.product-product-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 0;
}

.product-image {
    width: 30%;
    margin-top: 5%;
}

.add-to-cart-product {
    display:flex;
    text-transform: uppercase;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 206, 26);
    color: white;
    transition: background-color 0.25s ease-out;
}

.add-to-cart-product span {
    padding: 10px 0px;
}

.add-to-cart-product:hover {
    cursor: pointer;
    background-color: rgb(21, 172, 21);
}



@media only screen and (max-width: 1366px) {
    .product-image {
        width: 50%;
    }

    .product-details {
        width: 30%;

    }
  }

  @media only screen and (max-width: 700px) {
    .product-container {
      flex-direction: column;
    }
    .product-image {
        margin: 5% 0;
        width: 70%;
    }

    .product-details {
        width: 70%;
    }

    .add-to-cart-product {
        width: 60%;
        padding: 5px 10pxs;
        margin: auto;
        font-size: 12px;
    }

  }

  @media only screen and (max-width: 414px) {
    .add-to-cart-product {
        width: 200px;
    }
  }
