.product-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55vh;
}

.product-product-box {
    transition: transform 0.2s ease-out;
}

.focus>.product-product-box {
    transform: translateY(-40px);
}

/* .product-card-container:hover>.add-to-cart-card {
    display: block;
} */

.product-card-image {
    width: 100%;
    z-index: -3;
}

.product-card-name {
    font-size: 12px;
    color: #888;
    margin: 5px;
    text-transform: uppercase;
}

.product-card-color {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    margin: 5px;
}

.product-card-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    letter-spacing: 0.1em;
}

.product-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.add-to-cart-card {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 0;
    padding: 15px 45px;
    width: 80%;
    position: relative;
    bottom: 30px;
    transition: opacity 0.1s linear 0.05s;
}

.add-to-cart-card:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.hidden {
    visibility: collapse;
    opacity: 0;
}


.focus>.add-to-cart-card {
    visibility: visible;
    opacity: 1;
}